.menu{
    position: absolute;
    top: 20px;
    right: 5%;
    font-weight: bold;
    display: flex;
}

.menu a{
    text-decoration: none;
}

.social{
    margin-right: 14px;
    display: flex;
    align-items: center;
    transition: transform 0.7s;
}

.social:hover{
    transform: scale(1.25);
}

.menu-item{
    color: #000;
    background: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    margin-right: 14px;
    transition: transform 0.7s;
}

.menu-item:hover{
    transform: scale(1.15);
}