 .container-home{
     width: 100%;
     height: 90vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .logo{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .logo h1{
     font-size: 45px;
     color: #fff;
 }

 .logo span{
    font-size: 19px; 
    color: #fff;
     margin-top: 8px;
     margin-bottom: 16px;
 }

 .area-input{
     width: 540px;
     display: flex;
     flex-direction: column;
     align-items: center;
     animation: slideY 2.5s;
 }

 @keyframes slideY{
     from{
        transform: translateY(90px);
     }
     to{
        transform: translateY(0px);
     }
 }

 .area-input div{
    width: 100%;
    height: 46px;
    background-color: rgb(255,255,255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.area-input svg{
    margin: 0 8px;
}

.area-input input{
    width: 100%;
    background: transparent;
    border: 0;
    height: 46px;
    color: #fff;
    outline: none;
    font-size: 18px;
}

.area-input input::placeholder{
    color: rgb(255,255,255, 0.8);
}

.area-input button{
    width: 100%;
    height: 46px;
    border-radius: 8px;
    border: 0;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-top: 8px;
    transition: transform 0.7s;
}

.area-input button:hover{
    transform: scale(1.05);
}

@media (max-width: 615px){
    .logo img{
        width: 120px;
    }

    .logo h1{
        font-size: 30px;
    }

    .logo span{
        font-size: 15px;
    }

    .area-input{
        width: 80%;
    }


}